# COGS 108 - Data Checkpoint

# Names

- Aditya Moghe
- Raghav Cherukuru
- Presley Cheng
- Salwan Shathar
- Eric Peng

<a id='research_question'></a>
# Research Question

What is the relationship between excerise and academic performance (i.e. Grade point average and standardized test scores) amongst undergraduate students in the United States?

# Dataset(s)

*Fill in your dataset information here*

(Dataset 1:)
- Dataset Name: FitbitsAndGradesData (Freshman)
- Variable used:  fr_DF
- Link to the dataset: https://figshare.com/articles/dataset/Dataset_Fitbits_field-tests_and_grades_The_effects_of_a_healthy_and_physically_active_lifestyle_on_the_academic_performance_of_first_year_college_students_/7218497
- Number of observations: 581 observations

Description: This dataset (strictly freshman) makes use of fitbit technology to monitor fitness levels of study particpants based on a 1-mile field assesment and a lifestyle assesment survey. The data additionaly includes Grade Point Average (GPA) measurements for each participant for the semester they were monitored in.


(Dataset 2:)
- Dataset Name: HealthBehavAcadPerfAffect 
- Variable used: hbap_DF
- Link to the dataset: https://dataverse.harvard.edu/file.xhtml?persistentId=doi:10.7910/DVN/27388/SPWIGT&version=2.0
- Number of observations:  2111

Description: This dataset (college attending students) observes the relationship between health and physical activities with academic performance. The study tracks each participant response for approximately one month in order to quanitfy change in academic performance per person.



Combining the Datasets: After revisiting both datasets, we realized that the fitness and academic performance metrics were different between the datasets. In dataset 1, the mile time and GPA is measured, whereas in dataset 2, the physical activity time (in minutes) and the passing/failing of a standardized test is measured. We may have to drop one of the datasets (most likely dataset 1) or possibly revisit our thesis in order to solidify our study.

# Setup

In [138]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl


fr_DF = pd.read_csv('https://raw.githubusercontent.com/presley-cheng/COGS108_070_DataSets/main/FitbitsAndGradesData_Fall2017.csv')

display(fr_DF.head())
display(fr_DF.shape)

,Key,Steps,Peak,Cardio,FatBurn,Mode,Minutes,Gender,Age,GPA,Life Score
0,1,11157,0.13,3.86,111.92,1,9.35,1,23,4.00,48
1,2,7986,2.72,15.53,249.29,1,8.20,1,18,3.26,101
2,3,11602,0.35,2.10,195.32,0,12.73,0,18,3.07,64
3,4,10609,1.00,6.51,121.75,1,10.00,1,17,4.00,41
4,5,14552,9.10,6.09,109.66,1,8.63,0,18,2.87,83

(581, 11)

In [139]:
hbap_DF = pd.read_csv('https://raw.githubusercontent.com/presley-cheng/COGS108_070_DataSets/main/Dataset_HealthBehavAcadPerfAffect%20-%20Dataset_HealthBehavAcadPerfAffect.csv')

display(hbap_DF.head())
display(hbap_DF.shape)

,ID,Day,Sex,Age,Sem,SQ,PhysAct,PA,NA,LGA,Exam,HSG,BDI
0,1,1,1,22,2,3,30,2.666667,3.666667,2,1,4.6,2
1,1,2,1,22,2,3,60,3.333333,3.000000,1,1,4.6,2
2,1,3,1,22,2,3,360,2.666667,4.000000,0,1,4.6,2
3,1,4,1,22,2,3,780,1.333333,5.000000,1,1,4.6,2
4,1,6,1,22,2,3,210,3.000000,4.666667,2,1,4.6,2

(2111, 13)

# Data Cleaning

Describe your data cleaning steps here.

In [140]:
##### FitbitsAndGradesData #####
# Change gender from 0,1 -> M,F
fr_DF['Gender'] = fr_DF['Gender'].replace([0, 1], ['M', 'F'])

fr_DF.head()

,Key,Steps,Peak,Cardio,FatBurn,Mode,Minutes,Gender,Age,GPA,Life Score
0,1,11157,0.13,3.86,111.92,1,9.35,F,23,4.00,48
1,2,7986,2.72,15.53,249.29,1,8.20,F,18,3.26,101
2,3,11602,0.35,2.10,195.32,0,12.73,M,18,3.07,64
3,4,10609,1.00,6.51,121.75,1,10.00,F,17,4.00,41
4,5,14552,9.10,6.09,109.66,1,8.63,M,18,2.87,83

In [141]:
# Remove 'Mode' column -> No use towards our study 

fr_DF.drop('Mode', axis=1, inplace=True)
display(fr_DF)

     Key  Steps  Peak  Cardio  FatBurn  Minutes Gender  Age   GPA  Life Score
0      1  11157  0.13    3.86   111.92     9.35      F   23  4.00          48
1      2   7986  2.72   15.53   249.29     8.20      F   18  3.26         101
2      3  11602  0.35    2.10   195.32    12.73      M   18  3.07          64
3      4  10609  1.00    6.51   121.75    10.00      F   17  4.00          41
4      5  14552  9.10    6.09   109.66     8.63      M   18  2.87          83
..   ...    ...   ...     ...      ...      ...    ...  ...   ...         ...
576  577  10445  2.55   11.02   194.46     8.53      F   18  3.73          57
577  578  13537  0.10    1.54    87.39     6.55      M   18  3.93          53
578  579   7653  0.38    2.64    68.24     7.63      M   18  2.92          70
579  580  13828  3.17    8.00   189.69     8.25      F   18  3.94          73
580  581   7711  2.29    2.49    50.41     7.50      M   19  3.52          79

[581 rows x 10 columns]

We have thoroughly cleaned our FitbitsAndGradesData dataset for our study! However after looking back we may choose not to use this going forwards strictly because the next dataset covers a far more extensive population.

In [142]:
##### HealthBehavAcadPerfAffect #####
# Drop SQ, LGA, HSG, and BDI column as it does not pertain to our study

hbap_DF.drop(['SQ', 'LGA', 'HSG', 'BDI', 'Day'], axis=1, inplace=True)
display(hbap_DF)

      ID  Sex  Age  Sem  PhysAct        PA        NA  Exam
0      1    1   22    2       30  2.666667  3.666667     1
1      1    1   22    2       60  3.333333  3.000000     1
2      1    1   22    2      360  2.666667  4.000000     1
3      1    1   22    2      780  1.333333  5.000000     1
4      1    1   22    2      210  3.000000  4.666667     1
...   ..  ...  ...  ...      ...       ...       ...   ...
2106  82    1   20    2       45  4.333333  3.666667     1
2107  82    1   20    2      825  4.333333  1.000000     1
2108  82    1   20    2      195  1.000000  6.333333     1
2109  82    1   20    2      180  1.666667  6.000000     1
2110  82    1   20    2      435  7.000000  1.000000     1

[2111 rows x 8 columns]

In [143]:
# Rename columns for ease of reading
hbap_DF.rename(columns={'Sem':'Semester', 'PA':'Positive Affect',  'NA':'Negative Affect',  'Exam':'Passed Exam'}, inplace=True)
display(hbap_DF)

,ID,Sex,Age,Semester,PhysAct,Positive Affect,Negative Affect,Passed Exam
0,1,1,22,2,30,2.666667,3.666667,1
1,1,1,22,2,60,3.333333,3.000000,1
2,1,1,22,2,360,2.666667,4.000000,1
3,1,1,22,2,780,1.333333,5.000000,1
4,1,1,22,2,210,3.000000,4.666667,1
...,...,...,...,...,...,...,...,...
2106,82,1,20,2,45,4.333333,3.666667,1
2107,82,1,20,2,825,4.333333,1.000000,1
2108,82,1,20,2,195,1.000000,6.333333,1
2109,82,1,20,2,180,1.666667,6.000000,1
2110,82,1,20,2,435,7.000000,1.000000,1

In [144]:
# Find null or '-99' values and remove observations 

[hbap_DF.drop(hbap_DF[hbap_DF[i] < 0].index, inplace = True) for i in hbap_DF.columns]
hbap_DF.shape

(1837, 8)

In [145]:
#Group by ID and average participant responses 
hbap_DF = hbap_DF.groupby('ID').mean()
display(hbap_DF)

,Sex,Age,Semester,PhysAct,Positive Affect,Negative Affect,Passed Exam
ID,,,,,,,
1,1.0,22.0,2.0,329.259259,3.111111,3.320988,1.0
2,1.0,21.0,2.0,586.718750,5.760417,2.057292,0.0
3,1.0,36.0,4.0,403.750000,3.937500,2.906250,1.0
4,1.0,21.0,2.0,225.062500,2.895833,3.260417,0.0
5,1.0,22.0,3.0,59.656250,4.614583,3.010417,1.0
...,...,...,...,...,...,...,...
77,1.0,20.0,2.0,158.947368,4.210526,2.280702,0.0
79,1.0,26.0,8.0,79.266667,4.288889,2.888889,0.0
80,1.0,21.0,2.0,1005.666667,6.444444,2.733333,0.0
81,1.0,46.0,10.0,266.066667,2.966667,4.583333,1.0
82,1.0,20.0,2.0,355.062500,4.973958,2.020833,1.0

In [146]:
# Change Sex column from 1,2 -> 'M','F'

hbap_DF['Sex'] = hbap_DF['Sex'].replace([1, 2], ['M', 'F'])

hbap_DF.head()

,Sex,Age,Semester,PhysAct,Positive Affect,Negative Affect,Passed Exam
ID,,,,,,,
1,M,22.0,2.0,329.259259,3.111111,3.320988,1.0
2,M,21.0,2.0,586.718750,5.760417,2.057292,0.0
3,M,36.0,4.0,403.750000,3.937500,2.906250,1.0
4,M,21.0,2.0,225.062500,2.895833,3.260417,0.0
5,M,22.0,3.0,59.656250,4.614583,3.010417,1.0

In [147]:
#Reset the index

hbap_DF = hbap_DF.reset_index()
display(hbap_DF)

,ID,Sex,Age,Semester,PhysAct,Positive Affect,Negative Affect,Passed Exam
0,1,M,22.0,2.0,329.259259,3.111111,3.320988,1.0
1,2,M,21.0,2.0,586.718750,5.760417,2.057292,0.0
2,3,M,36.0,4.0,403.750000,3.937500,2.906250,1.0
3,4,M,21.0,2.0,225.062500,2.895833,3.260417,0.0
4,5,M,22.0,3.0,59.656250,4.614583,3.010417,1.0
...,...,...,...,...,...,...,...,...
57,77,M,20.0,2.0,158.947368,4.210526,2.280702,0.0
58,79,M,26.0,8.0,79.266667,4.288889,2.888889,0.0
59,80,M,21.0,2.0,1005.666667,6.444444,2.733333,0.0
60,81,M,46.0,10.0,266.066667,2.966667,4.583333,1.0
61,82,M,20.0,2.0,355.062500,4.973958,2.020833,1.0

In [148]:
# Change 'Passed Exam' column from 1,0 -> 'Pass','Fail' -> 'P','F'

hbap_DF['Passed Exam'] = hbap_DF['Passed Exam'].replace([1, 0], ['P', 'F'])

hbap_DF.head()

,ID,Sex,Age,Semester,PhysAct,Positive Affect,Negative Affect,Passed Exam
0,1,M,22.0,2.0,329.259259,3.111111,3.320988,P
1,2,M,21.0,2.0,586.718750,5.760417,2.057292,F
2,3,M,36.0,4.0,403.750000,3.937500,2.906250,P
3,4,M,21.0,2.0,225.062500,2.895833,3.260417,F
4,5,M,22.0,3.0,59.656250,4.614583,3.010417,P

We have thoroughly cleaned our HealthBehavAcadPerfAffect dataset for our study!